* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #a9d6e8;
    min-height: 95vh;
}

.form-div {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 90vh;
    margin: auto;
    margin-top: 5vh;
    background: white;
    box-shadow: 0 0 25px #888888;
}

.form-box {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#form-head {
    font-size: 28px;
}

.input-div {
    width: 50%;
    height: 100%;
}

p {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

label {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"],
input[type="number"] {
    background-color: rgb(232 232 232);
    height: 20px;
    width: 193px;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    padding-left: 15px;
    font-size: 15px;
    border: 0.5px solid rgb(197 195 195);
    margin: 2px;
    align-items: center;
}

select {
    width: 215px;
    height: 42px;
    padding: 10px;
    outline: none;
    margin: 2px;
    border: 0.5px solid rgb(197 195 195);
    background-color: rgb(232 232 232);
    border-radius: 20px;
    color: #757575;
    font-size: 15px;
}

.button {
    width: 150px;
    height: 48px;
    font-size: 20px;
    background-color: rgb(57, 230, 57);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover{
    box-shadow: 0px 5px 10px 0 #39e63980;
}

/* #btn-txt{
    position: relative;
    top: 3px;
    left: 26px;
    z-index: 1;
} */
/* 
#check-icon{
    position: relative;
    left: -35px;
} */

img {
    height: 100%;
    max-width: 100vh;
}
