body{
    margin: 0px;
    padding: 0px;

}
/* nav bar */

/* slider */
.carousel-item{
    height: 30vh;
    min-height: 650px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: rgb(25, 148, 248);
}
.carousal-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: .0.7;

}
