* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000;
    min-height: 200vh;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 100px;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2em;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    List-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    Letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}