<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in/Sign-up</title>
    <link rel="stylesheet" href="sign.css">
    <link rel="icon" href="favicon.png">
</head>

<body>

    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="#" class="sign-in-form" name="myForm" onsubmit="return validateForm()" method="post">
                    <img src="images/student-cap.png" alt="" class="cap c1">
                    <h2 class="title">Sign In</h2>
                    <div class="input-field" id="name">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="username" required name="fname">
                        <b><span class="formerror"> </span></b>
                    </div>
                    <div class="input-field" id="pass">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="password" name="fpass" required>
                        <b><span class="formerror"></span></b>
                    </div>
                    <input type="submit" class="btn solid" value="login">
                    <p class="social-text">Or Sign-In with social plateform</p>
                    <div class="social-media">
                        <a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#" class="social-icon"><i class="fa-brands fa-google"></i></a>
                        <a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </form>

             
                    <form action="#" class="sign-up-form" name="myForm" onsubmit="return validateForm()" method="post">
                        <img src="images/student-cap.png" alt="" class="cap c2">
                        <h2 class="title">Sign up</h2>
                        <div class="input-field" id="name">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" placeholder="username" name="fname" required> 
                        </div><b><span class="formerror"> </span></b>
                        <div class="input-field" id="email">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" placeholder="user-email" name="femail" required>
                            <b><span class="formerror"> </span></b>
                        </div>
                        <div class="input-field" id="pass">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" placeholder="password" name="fpass" required>
                            <b><span class="formerror"> </span></b>
                        </div>
                        <input type="submit" class="btn solid" value="Sign-up">
                        <p class="social-text">Or Sign-up with social plateform</p>
                        <div class="social-media">
                            <a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#" class="social-icon"><i class="fa-brands fa-google"></i></a>
                            <a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                    </form>
                
            </div>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New Here</h3>
                   
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, totam.</p>
                    <button class="btn transparent" id="sign-up-button">sign up</button>
                </div>
                <img src="images/log.svg" alt="" class="image">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>one of us</h3>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, neque.</p>
                    <button class="btn transparent" id="sign-in-button">sign in</button>
                </div>
                <img src="images/register.svg" alt="" class="image">
            </div>
        </div>
    </div>

    </div>



    <script src="sign.js"></script>
    <script src="https://kit.fontawesome.com/62b30a2462.js" crossorigin="anonymous"></script>
</body>

</html>