<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admssion Prediction</title>
    <link rel="stylesheet" href="{% static 'css/utility.css' %}">
    <link rel="stylesheet" href="{% static 'admission/css/admssionPredicForm.css' %}">
</head>
<body>
    
  <div class="form">
    <div class="input-div">
      <img src="/image1.jpg" alt="error">

    </div>

    <div class="input-div">

      <form action="/" class="form-box">
        <div id="form-head">
          Registration form
        </div>
        <div><input type="text" name="name" placeholder="enter yor name " id="name" class="form-input"></div>
        <div><input type="text" name="name" placeholder="enter yor name " id="name" class="form-input"></div>
        <div><input type="text" name="name" placeholder="enter yor name " id="name" class="form-input"></div>
        <div><input type="text" name="name" placeholder="enter yor name " id="name" class="form-input"></div>
        <div><input type="text" name="name" placeholder="enter yor name " id="name" class="form-input"></div>
        <div><input type="text" name="name" placeholder="enter yor name " id="name" class="form-input"></div>
        <button class="button">
          <span class="text">Submit</span>
          <i class="ri-check-line icon"></i>
        </button>
      </form>
    </div>
  </div>
    <script src="{% static 'admission/js/admssionPredicForm.js' %}"></script>
</body>
</html>